<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Redirecionando...</title>
	</head>
	<body>
		<h1>Aperte o botão abaixo para ser redirecionado à autenticação.</h1>
		<hr />
		<br />

		<button onclick="redirect()">Get Started</button>
		<script>
			function redirect() {
				window.location.href = "https://accounts.spotify.com/authorize";
			}
		</script>
	</body>
</html>
